/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Clan Medium";
  src: url("assets/fonts/clan-medium.woff") format("woff"); }

@font-face {
  font-family: "Clan Book";
  src: url("assets/fonts/clan-book.woff") format("woff"); }

body {
  font-family: 'Clan Book', sans-serif;
  overflow-x: hidden; }

.logo-stiftung {
  transform: translateX(-20px); }

.copy-funding {
  margin-top: 3rem;
  font-size: 14px;
  width: 60%;
  color: #000000; }

.section-nav {
  position: fixed;
  display: flex;
  justify-content: space-between; }
  .section-nav .logo {
    padding-top: 84vh; }

.credentials {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end; }

.logo-opendata {
  margin-right: 3rem; }

.logo-berlin {
  margin-right: 3rem; }

.project-desc-title .cross-link {
  color: white; }

.project-desc-author {
  line-height: 160%; }

svg:hover path {
  fill: #4363d4; }

svg:hover polygon {
  fill: #4363d4; }

svg.logo-berlin:hover path {
  fill: #E60032; }

svg.logo-ibb:hover path#letter {
  fill: #000000; }

svg.logo-ibb:hover polygon#letter {
  fill: #000000; }

svg.logo-ibb:hover path#Shape {
  fill: #00ACCF; }

.copy-funding {
  line-height: 140%; }

.links {
  position: absolute;
  right: 0px;
  transform: translateY(-15px); }
  .links .cross-link {
    margin-right: 1rem; }

#s_contact {
  background: #2e91d2; }

.button-primary {
  transition: background 0.1s;
  background: #E60032;
  font-family: 'Clan Book', sans-serif;
  font-size: 16px;
  padding: .75rem 1.5rem;
  border-radius: 5px;
  color: white;
  border: 0px solid; }
  .button-primary:focus {
    outline: 0; }
  .button-primary:hover {
    background: #b10026;
    transition: background 0.1s; }

.navbar.primary > * {
  color: #000000; }

.black {
  color: #000000; }

.navbar {
  position: fixed;
  z-index: 1000;
  font-family: 'Clan Medium', sans-serif; }
  .navbar .nav-item {
    cursor: pointer;
    margin-right: 3rem;
    transition: color .1s; }
  .navbar .nav-item:hover {
    color: #E60032;
    transition: color .1s; }
  .navbar a {
    color: white;
    text-decoration: none; }

#canvas {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }

.conditional-break {
  display: none; }

.inverted {
  color: #FFFFFF; }

.primary {
  color: #213A8F; }

.section-wrapper.light {
  background: #2e91d2; }

.headline-01 {
  font-size: 57px;
  font-family: 'Clan Medium', sans-serif;
  line-height: 120%; }

.white {
  color: white; }

.secondary {
  color: #E60032; }

.headline-02.white {
  color: white;
  letter-spacing: 1px; }

.headline-04.white {
  color: white; }

.bullet.white {
  color: white; }

.headline-02 {
  font-family: 'Clan Medium', sans-serif;
  font-size: 36px;
  line-height: 140%;
  color: #000000; }

.headline-03.white {
  font-family: 'Clan Medium', sans-serif;
  color: white;
  letter-spacing: 1px; }

.odis-logo-typo {
  letter-spacing: 5px; }

.headline-03 {
  font-family: 'Clan Medium', sans-serif;
  font-size: 24px;
  line-height: 140%;
  color: #000000;
  letter-spacing: 0.5px; }

.headline-04 {
  font-size: 16px;
  line-height: 160%;
  color: #000000; }

.intro {
  background: #213A8F; }

@-moz-document url-prefix() {
  h1 {
    color: red; } }

.section {
  margin: 0 auto;
  position: relative;
  width: 94%;
  scroll-behavior: smooth; }

.section-wrapper {
  background: #213A8F;
  height: auto;
  min-width: 100%;
  scroll-behavior: smooth; }

.section-wrapper.white {
  background: white; }

.logo {
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-family: 'Clan Medium',sans-serif;
  letter-spacing: 3px;
  line-height: 150%; }
  .logo .logo-type.book {
    font-family: 'Clan Book', sans-serif; }

.section-wrapper.intro {
  height: 100vh; }

.section-intro {
  background-color: #213A8F;
  height: 100%;
  position: static; }

.schedule-wrapper > div:nth-child(odd) {
  border-bottom: 1px solid black;
  border-top: 1px solid black; }

.schedule-wrapper {
  display: flex;
  flex-direction: column; }
  .schedule-wrapper .schedule-event {
    flex-direction: row; }
    .schedule-wrapper .schedule-event .schedule-date {
      background: #E60032;
      border-radius: 100%;
      text-align: center;
      width: 6rem;
      height: 6rem;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .schedule-wrapper .schedule-event .schedule-date .schedule-date-month {
        transform: translateY(-16px); }
    .schedule-wrapper .schedule-event .headline-02 {
      font-size: 28px; }
    .schedule-wrapper .schedule-event .schedule-time {
      padding-top: 2.35rem; }
    .schedule-wrapper .schedule-event .schedule-event-block {
      display: flex;
      flex-direction: row;
      max-width: 64rem;
      margin: 0 auto; }

@-moz-document url-prefix() {
  .schedule-wrapper .schedule-event .schedule-date .schedule-date-month {
    transform: translateY(0px); } }

.schedule-desc-wrapper {
  width: 555px; }

.project-desc-author {
  width: 250px; }

.schedule-event-details-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%; }

.profile-wrapper {
  display: flex;
  flex-direction: row; }
  .profile-wrapper .profile-image {
    width: 100px;
    height: 100px;
    background: url("assets/profile_2x.jpg") no-repeat center/100%;
    border-radius: 100%; }
  .profile-wrapper .profile-image-2 {
    width: 100px;
    height: 100px;
    background: url("assets/profile-2_2x.jpg") no-repeat center/100%;
    border-radius: 100%; }
  .profile-wrapper .profile-desc-wrapper {
    margin-left: 1.5rem;
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    color: white; }
    .profile-wrapper .profile-desc-wrapper span {
      margin-top: .5rem; }

.blog-posts-intro {
  margin-bottom: 3rem; }

.blog-post {
  overflow: hidden;
  max-width: 550px;
  margin-bottom: 70px; }
  .blog-post .headline-03 {
    margin-top: .5rem;
    margin-bottom: 2rem; }
  .blog-post .date-small {
    color: #E60032; }
  .blog-post p.copy.black {
    margin-top: 1rem;
    margin-bottom: 2rem; }
  .blog-post .blog-link {
    font-weight: 700;
    margin-left: 60px;
    font-family: 'Clan Medium', sans-serif;
    letter-spacing: 0.5px;
    color: black;
    margin-left: 60px;
    text-decoration: none; }
    .blog-post .blog-link::before {
      content: '';
      position: absolute;
      transform: translateX(-60px) translateY(-14px);
      width: 3rem;
      height: 3rem;
      border-radius: 100%;
      background: #ececec;
      transition: .1s background linear; }
    .blog-post .blog-link:hover::before {
      content: '';
      position: absolute;
      transform: translateX(-60px) translateY(-14px);
      width: 3rem;
      height: 3rem;
      border-radius: 100%;
      background: #E60032;
      transition: .1s background linear; }
    .blog-post .blog-link::after {
      background-image: url(assets/arrow-bullet.svg);
      transform: translateX(-137px) translateY(2px);
      background-size: contain;
      content: ' ';
      width: 9px;
      position: absolute;
      height: 15px; }
    .blog-post .blog-link:hover::after {
      background-image: url(assets/arrow-bullet-white.svg);
      transform: translateX(-137px) translateY(2px);
      background-size: contain;
      content: ' ';
      width: 9px;
      position: absolute;
      height: 15px; }

.tile-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }
  .tile-wrapper .tile {
    width: 22%;
    margin-right: 20px;
    position: relative; }
  .tile-wrapper .tile-image {
    height: 150px;
    width: 150px;
    background: white;
    border: 0px solid; }
  .tile-wrapper .tile-arrow-short {
    background: url("assets/arrow-process-01.svg") no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: 50px; }
  .tile-wrapper .spacing-arrow-01 {
    left: 235px; }
  .tile-wrapper .spacing-arrow-03 {
    left: 220px; }
  .tile-wrapper .spacing-arrow-04 {
    left: 200px; }
  .tile-wrapper .tile-arrow-long {
    background: url("assets/arrow-process-02.svg") no-repeat;
    width: 100%;
    margin-left: 76px;
    margin-top: 26px;
    height: 90px; }
  .tile-wrapper .process-01 {
    background: url("assets/process-01.svg") no-repeat;
    height: 150px;
    width: 150px; }
  .tile-wrapper .process-02 {
    background: url("assets/process-02.svg") no-repeat;
    height: 150px;
    width: 150px; }
  .tile-wrapper .process-03 {
    background: url("assets/process-03.svg") no-repeat;
    height: 150px;
    width: 150px; }
  .tile-wrapper .process-04 {
    background: url("assets/process-04.svg") no-repeat;
    height: 150px;
    width: 150px; }
  .tile-wrapper .process-05 {
    background: url("assets/process-05.svg") no-repeat;
    height: 150px;
    width: 200px; }
  .tile-wrapper .tile-headline-wrapper {
    display: flex;
    flex-direction: column;
    font-family: 'Clan Medium', sans-serif; }
    .tile-wrapper .tile-headline-wrapper .process-headline {
      font-size: 20px;
      line-height: 140%;
      color: white;
      letter-spacing: 0.5px; }
    .tile-wrapper .tile-headline-wrapper .process-step {
      position: absolute;
      transform: translateY(32px) translateX(-28px);
      font-size: 36px;
      color: #213A8F; }

.projects-wrapper {
  display: flex;
  flex-wrap: wrap; }
  .projects-wrapper .project {
    margin-top: 3rem; }
    .projects-wrapper .project .project-image {
      width: 280px;
      height: 200px; }
    .projects-wrapper .project .proj-01 {
      background: url("assets/project-01.jpg") no-repeat center;
      background-size: cover;
      width: auto; }
    .projects-wrapper .project .proj-02 {
      background: url("assets/project-02.jpg") no-repeat center;
      background-size: cover;
      width: auto; }
    .projects-wrapper .project .proj-03 {
      background: url("assets/project-03.jpg") no-repeat center;
      background-size: cover;
      width: auto; }
    .projects-wrapper .project .project-desc-wrapper {
      display: flex;
      flex-direction: column;
      margin-top: 2rem; }
      .projects-wrapper .project .project-desc-wrapper .project-desc-author {
        padding-top: 0.5rem; }
      .projects-wrapper .project .project-desc-wrapper .project-desc-title {
        font-size: 24px;
        color: #213A8F;
        margin-bottom: .5rem;
        letter-spacing: 0.5px; }

.cross-link {
  font-family: 'Clan Medium', sans-serif;
  color: #E60032;
  transition: color 0.1s;
  text-decoration: none; }
  .cross-link:hover {
    text-decoration: underline;
    transition: color 0.1s; }

p.copy {
  font-family: 'Clan Book', sans-serif;
  line-height: 160%; }

.bullets-wrapper {
  display: flex;
  flex-direction: column; }
  .bullets-wrapper .bullet:before {
    background-image: url("assets/arrow-bullet.svg");
    transform: translateX(-16px) translateY(5px);
    background-size: contain;
    content: ' ';
    width: 9px;
    position: absolute;
    height: 15px; }
  .bullets-wrapper .bullet {
    margin-top: 1rem;
    line-height: 160%; }

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw; }

.pt-12 {
  padding-top: 12rem; }

.pt-18 {
  padding-top: 18rem; }

.pb-12 {
  padding-bottom: 12rem; }

.mt-12 {
  margin-top: 12rem; }

.mr-3 {
  margin-right: 3rem; }

.mt-4 {
  margin-top: 4rem; }

.mt-2 {
  margin-top: 2rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-6 {
  margin-bottom: 6rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-12 {
  margin-bottom: 12rem; }

.mb-25 {
  margin-bottom: 2.5rem; }

.mb-1 {
  margin-bottom: 1rem; }

.pb-5 {
  padding-bottom: 5rem; }

.pt-5 {
  padding-top: 5rem; }

.pt-1 {
  padding-top: 1rem; }

.pb-1 {
  padding-bottom: 1rem; }

.condition-3 {
  display: none; }

@media screen and (min-width: 64rem) {
  .section {
    max-width: 64rem;
    width: 85%; }
  .schedule-event-block {
    width: 85%; }
  .conditional-break {
    display: block; }
  .schedule-event-details-wrapper {
    width: 37%; } }

@media screen and (min-width: 54rem) and (max-width: 64rem) {
  .schedule-event-details-wrapper {
    width: 45%; }
  .section {
    width: 80%; }
  .schedule-desc-wrapper {
    width: 380px; }
  .copy-funding {
    width: 100%; }
  .links {
    left: 0;
    position: relative;
    margin-top: 4rem; }
  .tile-wrapper .tile {
    width: 42%; }
  .schedule-wrapper .schedule-event .schedule-date .headline-02 {
    transform: translateY(-5px); }
  .schedule-wrapper .schedule-event .schedule-date .schedule-date-month {
    transform: translateY(-8px); }
  .condition-3 {
    display: block; }
  .schedule-event-block {
    width: 80%; }
  .headline-01 {
    font-family: 'Clan Medium', sans-serif;
    font-size: 48px; }
  .conditional-break {
    display: block; }
  .conditional-break-2 {
    display: none; }
  .pb-12 {
    padding-bottom: 10rem; }
  .pt-12 {
    padding-top: 10rem; } }

@media screen and (max-height: 700px) {
  .pt-18 {
    padding-top: 10rem; } }

@media screen and (min-width: 28rem) and (max-width: 54rem) {
  .schedule-event-details-wrapper {
    width: 100%; }
  .section {
    width: 80%; }
  .navbar {
    font-size: 12px; }
    .navbar .nav-item {
      cursor: pointer;
      margin-right: .75rem; }
  .copy-funding {
    width: 100%; }
  .condition-3 {
    display: none; }
  .headline-01 {
    font-size: 48px; }
  .schedule-event-block {
    width: 80%; }
  .profile-wrapper {
    display: block; }
    .profile-wrapper .profile-desc-wrapper {
      margin-left: 0; }
  .schedule-wrapper .schedule-event .pb-1 {
    padding-bottom: 2rem; }
  .schedule-wrapper .schedule-event .pt-1 {
    padding-top: 2rem; }
  .schedule-wrapper .schedule-event .schedule-date {
    background: none;
    flex-direction: row;
    justify-content: flex-start;
    height: 20px;
    text-align: left; }
    .schedule-wrapper .schedule-event .schedule-date .headline-02 {
      font-family: 'Clan Medium', sans-serif;
      font-size: 16px;
      color: #000000; }
    .schedule-wrapper .schedule-event .schedule-date .schedule-date-month {
      color: #000000;
      transform: translateY(2px) translateX(4px); }
    .schedule-wrapper .schedule-event .schedule-date .headline-03 {
      font-size: 16px;
      letter-spacing: 0.5px; }
  .schedule-wrapper .schedule-event .schedule-event-block {
    flex-wrap: wrap; }
    .schedule-wrapper .schedule-event .schedule-event-block .schedule-time {
      margin-right: 0;
      padding-top: 0rem;
      text-align: right; }
    .schedule-wrapper .schedule-event .schedule-event-block .schedule-desc-wrapper {
      padding-top: 0.5rem; }
  .schedule-time {
    margin-right: 0;
    padding-top: 0rem;
    text-align: right; }
  .links {
    left: 0;
    position: relative;
    margin-top: 4rem; }
  .projects-wrapper {
    display: block; }
    .projects-wrapper .project {
      margin-right: 0; }
      .projects-wrapper .project .project-image {
        min-width: 80%;
        max-width: 450px;
        height: 300px; }
      .projects-wrapper .project .project-desc-wrapper {
        min-width: 100%;
        margin-top: 1rem; }
  .tile-wrapper .tile {
    margin-top: 4rem;
    width: 80%; }
    .tile-wrapper .tile .tile-arrow-short {
      display: none; }
  .conditional-break-2 {
    display: none; }
  .pb-12 {
    padding-bottom: 8rem; }
  .pt-12 {
    padding-top: 8rem; }
  .copy-funding {
    line-height: 140%;
    width: 100%; } }

@media screen and (min-width: 0rem) and (max-width: 28rem) {
  .section {
    width: 90%; }
  .copy-funding {
    line-height: 140%;
    width: 100%; }
  p.copy {
    line-height: 140%; }
  .navbar {
    font-size: 10px;
    font-weight: bold; }
    .navbar .nav-item {
      cursor: pointer;
      margin-right: .75rem; }
  .pt-18 {
    padding-top: 9rem; }
  .schedule-wrapper .schedule-event .pb-1 {
    padding-bottom: 2rem; }
  .schedule-wrapper .schedule-event .pt-1 {
    padding-top: 2rem; }
  .schedule-wrapper .schedule-event .schedule-date {
    background: none;
    flex-direction: row;
    justify-content: flex-start;
    height: 20px;
    text-align: left;
    transform: translateX(0px); }
    .schedule-wrapper .schedule-event .schedule-date .headline-02 {
      font-size: 16px;
      color: #000000;
      letter-spacing: 0.5px; }
    .schedule-wrapper .schedule-event .schedule-date .schedule-date-month {
      color: #000000;
      transform: translateY(2px) translateX(4px); }
    .schedule-wrapper .schedule-event .schedule-date .headline-03 {
      font-size: 16px;
      letter-spacing: 0.5px; }
  .schedule-wrapper .schedule-event .schedule-event-block {
    flex-wrap: wrap; }
    .schedule-wrapper .schedule-event .schedule-event-block .schedule-time {
      margin-right: 0;
      padding-top: 0rem;
      color: #000000;
      text-align: right; }
    .schedule-wrapper .schedule-event .schedule-event-block .schedule-desc-wrapper {
      padding-top: 0.5rem; }
  .links {
    left: 0;
    position: relative;
    margin-top: 4rem; }
  .conditional-break-2 {
    display: none; }
  .pb-5 {
    padding-bottom: 2rem; }
  .headline-01 {
    font-size: 30px;
    letter-spacing: 0.5px; }
  .headline-02 {
    font-size: 28px;
    letter-spacing: 0.5px; }
  .headline-03 {
    font-family: 'Clan Medium', sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px; }
  .headline-04 {
    line-height: 140%;
    color: #000000; }
  .schedule-event-block {
    width: 90%; }
    .schedule-event-block .schedule-date {
      transform: translateX(-10px); }
  .mb-25 {
    margin-bottom: 1rem; }
  .mb-4 {
    margin-bottom: 2.5rem; }
  .bullets-wrapper .bullet {
    transform: translateX(25px);
    width: 90%;
    line-height: 140%; }
  .bullets-wrapper .bullet:before {
    transform: translateX(-25px) translateY(5px); }
  .tiles-wrapper > div:nth-child(1) div:nth-child(1) .tile-image {
    height: 140px; }
  .tiles-wrapper > div:nth-child(1) div:nth-child(2) .tile-image {
    height: 125px; }
  .tiles-wrapper > div:nth-child(3) div:nth-child(1) .tile-image {
    height: 140px; }
  .tiles-wrapper > div:nth-child(3) div:nth-child(2) .tile-image {
    height: 120px; }
  .projects-wrapper {
    display: block; }
    .projects-wrapper .project {
      margin-right: 0; }
      .projects-wrapper .project .project-image {
        min-width: 100%;
        height: 250px; }
      .projects-wrapper .project .project-desc-wrapper {
        min-width: 100%;
        margin-top: 1rem; }
  .profile-wrapper {
    display: block; }
    .profile-wrapper .profile-desc-wrapper {
      margin-left: 0; }
  .tile-wrapper.mt-4 {
    margin-top: 0; }
  .tile-wrapper .tile {
    width: 100%;
    margin-right: 0;
    margin-top: 4rem; }
    .tile-wrapper .tile .tile-arrow-short {
      display: none; }
    .tile-wrapper .tile .tile-headline-wrapper .process-step {
      font-size: 24px;
      transform: translateY(0px);
      position: inherit;
      display: block; }
    .tile-wrapper .tile .tile-image {
      height: 150px; }
  .conditional-break-2 {
    display: none; }
  .pb-12 {
    padding-bottom: 7rem; }
  .pt-12 {
    padding-top: 7rem; } }

canvas {
  margin: auto; }

.grid {
  max-width: 1280px;
  min-width: 320px;
  border: 2px solid var(--border-color);
  border-radius: 0.5em;
  margin: 0 auto;
  display: grid;
  /*grid-template-columns: 500px;
	grid-template-rows: 1em 2fr 2fr;
	*/
  grid-gap: 0.5em;
  grid-template-areas: "a b c" "a d e"; }

.grid > * {
  background-color: #213A8F;
  color: var(--border-color);
  padding: 1.5rem;
  border: 2px solid;
  border-radius: 0.3em;
  overflow: hidden; }

.chart-container {
  position: relative;
  margin: auto;
  height: 30vh;
  display: flex; }

.grid .a {
  grid-area: a; }

.grid .b {
  grid-area: b; }

.grid .c {
  grid-area: c; }

.grid .c canvas {
  padding-top: 1em; }

.grid .d {
  grid-area: d; }

.grid .e {
  grid-area: e; }

.chart-container .activity canvas {
  width: 300px; }

.content h2 {
  color: white;
  font-size: 1em;
  text-transform: uppercase; }

.flex {
  display: flex; }

.col {
  flex-direction: column; }

.row {
  flex-direction: row; }

h2.top-pad {
  margin-top: 3em; }

.content p {
  color: white;
  font-size: 0.8em;
  padding-top: 0.5em; }

.transp {
  opacity: .5; }

.dataset {
  margin-bottom: 1rem;
  line-height: 125%;
  width: 70%; }

.content a {
  text-decoration: none;
  padding: 0.5em 0 0 0.5em; }

.alt-1 {
  font-size: 3.5rem;
  font-family: 'Clan Medium', sans-serif; }

#tagCanvas {
  transform: translateX(-1rem); }

.alt-2 {
  color: #ffcc00; }

.alt-3 {
  font-size: 1rem; }

.right {
  float: right;
  text-align: right; }

@media screen and (max-width: 1080px) {
  .grid {
    grid-template-columns: auto auto;
    grid-template-areas: "a b" "a c" "d e"; } }

@media screen and (max-width: 750px) {
  .grid {
    grid-template-columns: auto auto;
    grid-template-areas: "a" "b" "c" "d" "e"; } }

@media screen and (max-width: 600px) {
  .chart-container .activiy {
    width: 600px; } }

@media (min-width: 900px) {
  .chart-container .activity canvas {
    width: 300px; } }
